<section style="background:none; padding-top: 0px !important;padding-bottom: 0px !important;" class="signup-section"
    id="signup">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <form class="form-inline d-flex" action="{% url 'blog:search' %}">
                    <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 fars farses id=" name="q" type="text"
                        placeholder="جستجو در سایت..." />
                    <button class="btn btn-primary mx-auto fars">جستجو کن</button>
                </form>
            </div>
        </div>
    </div>
</section>
